:root {
    --darkgray: #424242;
    --darkblack: #131313;
    --lightgary: #727272;
    --orange: #FF900E;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
.header {
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    margin-left: 250px;
}

nav ul {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--darkgray);
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav button {
    border: 0;
    font-size: 16px;
    color: var(--darkgray);
}

.banner-heading {
    text-align: center;
}

.banner-image {
    width: auto;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;
    color: var(--darkblack);
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--lightgary);
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background-color: var(--orange);
    color: #FFFFFF;
    border: 0;
    padding: 20px;
}

/* main section style */
.container,
.features {
    margin-top: 200px;
    margin-left: 300px;

}

.container-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    height: 690px;
    width: 690px;
}

.container-image {
    margin-bottom: 10px;
}

.container-info {
    display: flex;
    gap: 70px;
    justify-content: space-evenly;
}

.container-details {
    width: 550px;
    height: 350px;
    color: var(--lightgary);
}

.container-title {
    font-weight: 500;
    font-size: 45px;
}

.bold {
    color: var(--darkblack);
}

.color {
    color: var(--orange);
}

.container-des {
    font-weight: 400;
    font-size: 16px;
}

/* features style */
.features {
    margin-top: 200px 0;
}

.main-block {
    display: flex;
    justify-content: space-evenly;
}

.features-design {
    width: 586px;
    height: 982px;
}

.features-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--darkblack);
}

.features-des {
    color: var(--lightgary);
    font-weight: 400;
    font-size: 16px;
}

.feature-details {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.feature-subtitle {
    font-weight: 600;
    font-size: 20px;
}

.feature-subdes {
    font-weight: 400;
    font-size: 16px;
    color: var(--lightgary);
}

.features-image .btn-primary {
    width: 250px;
    height: 160px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    /* position: absolute;
    top: 245%;
    right: 20%;
    transform: translate(-245%, -20%);
    -ms-transform: translate(-245%, -20%); */

}

.features-image {
    font-weight: 700;
    font-size: 65px;
}

/* facts style */
.facts-section {
    margin-left: 300px;
    margin-top: 200px;
}

.facts-info {
    width: 500px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--darkblack);

}

.facts-des {
    font-weight: 400;
    font-size: 16px;
    color: var(--lightgary);
}

.facts-details {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 125px;
    margin-top: 100px;
}

.field {
    border: 1px solid var(--orange);
    padding: 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    transition: width 5s linear 1s;
}

.field:hover {
    width: 270px;
    transform: rotate(180deg);
}

.field h4 {
    font-weight: 600;
    font-size: 45px;
    color: var(--darkgray);
}

.field p {
    font-weight: 600;
    font-size: 20px;
    color: var(--lightgary);
}

/* sponsors styles */

/* .sponsors {} */

.sponsors-text {
    margin: 100px 200px;
    text-align: center;
}

.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--darkblack);
}

.sponsors-des {
    font-weight: 400;
    font-size: 16px;
    color: var(--lightgary);
}

.sponsors-image {
    display: flex;
    justify-content: space-evenly;
}

/* team-members styles */
.team-members {
    margin-top: 200px;
    margin-left: 300px;
}

.team-members p {
    margin-top: 150px;
    color: brown;
}

.team-members-info {
    height: 10vh;
    width: 10vw;
    display: grid;
    grid-template-areas:
        "i1 i1 i1 i1"
        "i2 i2 i2 i3"
        "i4 i4 i4 i3";
    grid-column-gap: 10px;
}

.image1 {
    grid-area: i1;
}

.image2 {
    grid-area: i2;
}

.image3 {
    grid-area: i3;
}

.image4 {
    grid-area: i4;
}

.extra-section input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
    margin-bottom: 24px;
    margin-left: 200px;
    border: 0;
    width: 50%;
    padding: 18px 35px;
    font-size: 20px;
}

.section-title {

    text-align: center;
    margin-bottom: 18px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}

/*footer  */
.footer {
    height: 100px;
    width: 60%;
    background-color: rgba(255, 144, 14, 0.1);
    margin: 300px 240px 100px;
}

.footer h5 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--darkgray);
    padding-top: 35px;
}

/* design media query for mobile devices */
@media only screen and (max-width:576px) {
    body{
        margin-right: 0;
        padding-right: 0;
    }
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin-top: auto;
        width: 100%;
    }

    .nav-title {
        text-align: center;
    }

    .banner-image {
        width: 80%;
        height: 50%;
    }

    .container {
        margin-left: auto;
    }

    .container-info {
        flex-direction: column;
        align-items: center;
        margin-bottom: 500px;
        margin-left: 100px;
    }

    .container-images {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 50px;
    }

    .container-details {
        margin-top: 700px;
        width: 500px;
        height: 400px;
    }

    .main-block {
        flex-direction: column;
    }

    .features {
        margin-left: 10px;
        margin-top: 10px 0;
    }

    .features-design {
        width: 560px;
        height: 982px;
    }

    .features-image {
        width: 80%;
        height: 50%;
    }

    .features-image .btn-primary {
        width: 10px;
        height: auto;
        
    }

    .facts-section {
        margin-left: 100px;
    }

    .facts-details {
        flex-direction: column;
    }

    .sponsors-text {
        margin: 100px;
        text-align: center;
        text-align: justify;
    }

    .sponsors-image {
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .team-members {
        margin-top: 300px;
        margin-left: 100px;
    }

    .team-members-info {
        height: 10vh;
        width: 10vw;
        display: grid;
        grid-template-areas:
            "i1"
            "i2"
            "i3"
            "i4";
        grid-column-gap: 15px;
    }

    .footer {
        height: 100px;
        width: 60%;
        margin: 900px 100px 100px;
    }

}